// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

.form-control {
  &.form-input {
    height: 3.25rem;
    padding: 0 1rem;
    border: 1px solid #E0E2E6;
    border-radius: 0.5rem;
    color: $dark-blue;
    @include font(1rem, 400, 3.125rem);
    @include placeholder {
      color: $light-grey;
    }
    @include transition(all, 0.3s);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      @include placeholder {
        color: $grey;
      }
    }

    &:focus {
      border-color: #C2C7D1;
      box-shadow: none;
    }
    
  
    &.disabled, &:disabled,
    &:read-only {
      background-color: #FCFCFC;

      &:hover {
        @include placeholder {
          color: $light-grey;
        }
      }
    }
  }
}

.form-group {
  position: relative;
  
  .help-block {
    display: none;
  }

  &.has-success {
    .form-input {
      border-color: $light-grey;
    }
  }

  &.has-error {
    .form-input {
      border-color: $red;
    }

    .help-block {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.75rem;
      color: $red;
    }
  }
}