// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.dark-blue {
  color: #2D3C5A;
}

.blue {
  color: #55A5FF;
}

.green {
  color: #0AB48C;
}

.light-green {
  color: #14D2A5;
}

.dark-green {
  color: #0AA57D;
}

.grey {
  color: #969DAC;
}

.light-grey {
  color: #C0C5CE;
}

.red {
  color: #FF5F5F;
}

.close-icon {
  background-image: url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8.59 0L5 3.59L1.41 0L0 1.41L3.59 5L0 8.59L1.41 10L5 6.41L8.59 10L10 8.59L6.41 5L10 1.41L8.59 0Z" fill="%23969DAC"/%3E%3C/svg%3E');
}