// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.dark-blue {
  color: #2D3C5A;
}

.blue {
  color: #55A5FF;
}

.green {
  color: #0AB48C;
}

.light-green {
  color: #14D2A5;
}

.dark-green {
  color: #0AA57D;
}

.grey {
  color: #969DAC;
}

.light-grey {
  color: #C0C5CE;
}

.red {
  color: #FF5F5F;
}