/**
 * Basic typography style
 */
body {
  font-family: $main-font;
  color: $dark-blue;
}

// button, input, optgroup, select, textarea, label, a {
//   font-family: $text-font;
// }

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  @include font(1.125rem, 500, 1);
  // font-size: 18px;
  // line-height: 18px;
}

p {
  @include font(1rem, 400, 1.5);
  color: $grey;
}

small, .small {
  font-size: 0.875rem; // 14px
}

.extra-small {
  font-size: 0.75rem; // 12px
}
